* {
  padding:  0;
  margin:   0;
  box-sizing: border-box;
  
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.wrapper {
  margin: 50px auto;
  width: 1460px;
}

 /* Header */
 
.logo {
  font-size: 40px;
  font-weight: 700;
  border-bottom: 5px solid black;
  padding: 10px;
}


.header-nav {
  list-style: none;
}

.header_blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.nav-item {
  margin-left: 55px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: rgb(100, 100, 100);
}

.nav-item:first-child {
  margin: 0;
}

.header-img {
  background: url(components/images/BG.jpg) no-repeat center;
  background-size: cover;

  width: 100%;
  height: 550px;
  border-radius: 8px;
  margin-bottom: 90px;

  position: relative
}

.header-img::before {
  content: "Лучший интернет-магазин фильмов";
  font-size: 60px;
  font-weight: 400;
  color: rgb(234, 234, 234);
  position: absolute;
  top: 35%;
  left: 9.5%;
}

.header-img::after {  
  content: "Films Shop";
  font-size: 60px;
  font-weight: 700;
  color: rgb(232, 228, 228);
  position: absolute;
  top: 55%;
  left: 37%;
}


/* Main */

hr {
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1.5px solid black;
}

.title {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
}

/* films */

.films-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.film-item {
  width: 32%;
  padding: 20px 10px;
  
  margin-bottom: 30px;
  border: 1.5px solid #000;
  border-radius: 15px;
  text-align: center;
}

/* Footer */

footer {
  width: 100%;
  height: 200px;
  background-color: #000;
  padding: 50px 100px 100px 150px;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  height: 100px;
}

.footer-title {
  margin-bottom: 10px;
}

.footer-ul {
  list-style: none;
}

.cl-white {
  color: #fff;
}
.cl-gray {
  font-size: 16px;
  color: gray;
}

/* Adaptive */


@media screen and (max-width: 1460px) {
  .wrapper {
    width: 1000px;
  }
  .nav-item {
    font-size: 16px;
    margin-left: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 700px;
  }
  .film-item {
    width: 48%;
  }
  .nav-item {
    font-size: 16px;
    margin-left: 35px;
  }
}