* {
  padding:  0;
  margin:   0;
  box-sizing: border-box;
  
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.wrapper {
  margin: 50px auto;
  width: 1460px;
}

 /* Header */
 
.logo {
  font-size: 40px;
  font-weight: 700;
  border-bottom: 5px solid black;
  padding: 10px;
}


.header-nav {
  list-style: none;
}

.header_blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.nav-item {
  margin-left: 55px;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: rgb(100, 100, 100);
}

.nav-item:first-child {
  margin: 0;
}

.header-img {
  background: url(components/images/BG.jpg) no-repeat center;
  background-size: cover;

  width: 100%;
  height: 550px;
  border-radius: 8px;
  position: relative
}

.header-img::before {
  content: "Лучший интернет-магазин фильмов";
  font-size: 60px;
  font-weight: 400;
  color: rgb(234, 234, 234);
  position: absolute;
  top: 35%;
  left: 9.5%;
}

.header-img::after {  
  content: "Films Shop";
  font-size: 60px;
  font-weight: 700;
  color: rgb(232, 228, 228);
  position: absolute;
  top: 55%;
  left: 37%;
}